<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/dashboard_head :: head"></head>

<body class="bg-[#0D1118] text-gray-100 min-h-screen flex flex-col">

    <nav th:replace="fragmentos/dashboard_navbar :: navbar"></nav>

    <!-- Barra divisoria roja -->
    <div class="h-[1.2px] w-full bg-gradient-to-r from-transparent via-red-600 to-transparent shadow-lg shadow-red-600/10"></div>

    <!-- Bloque para mostrar mensajes de éxito o error -->
    <!-- Se muestra si existe un mensaje con la clave 'mensaje' -->
    <div th:if="${mensaje}" class="w-full flex justify-center mt-2 px-4">
        <div id="mensaje-exito" class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg text-center"
             th:text="${mensaje}">
            Mensaje de éxito
        </div>
    </div>

    <!-- Se muestra si existe un mensaje con la clave 'error' -->
    <div th:if="${error}" class="w-full flex justify-center mt-2 px-4">
        <div id="mensaje-error" class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg text-center"
             th:text="${error}">
            Mensaje de error
        </div>
    </div>

    <div class="flex flex-1">
        <div class="flex-1 overflow-x-hidden overflow-y-auto">
            <main th:replace="fragmentos/dashboardContent :: content(motoDelUsuario=${motoDelUsuario},usuario=${usuario})"></main>
        </div>
        
    </div>

    <div th:replace="fragmentos/dashboard_scripts :: scripts"></div>
    
</body>
</html>